@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f1f1f1;
}

.wrapper {
    width: 100%;
    max-width: 915px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
}

._card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #D6D9DC;
    height: fit-content;
}

._row {
    display: flex;
}

._row .imgCard {
    width: 47%;
}

.imgCard img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #D6D9DC;
}

.intro_details .a h4 {
    font-size: 21px;
    font-weight: 600;
    color: #191919;
}

.intro_details .a h5 {
    font-size: 16px;
    font-weight: 500;
    color: #5d6063;
}

.intro_details {
    margin-left: 20px;
}

.intro_details .b {
    margin-top: 25px;
}

.intro_details .b p {
    font-size: 13px;
    font-weight: 500;
    color: #5d6063;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #5d6063;
}

a:hover {
    border-bottom: 2px solid #5d6063;
}

._c {
    display: flex;
    justify-content: space-between;
}

._contact ul {
    list-style: none;
}

._contact ul li:not(:last-child) {
    margin-bottom: 10px;
    font-size: 15px;
}

.header {
    color: #191919;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.about {
    margin-top: 15px;
}

.tech {
    margin-top: 15px;
}


.about ._card p {
    margin-top: 20px;
    font-size: 14px;
    color: #5d6063;
    font-weight: 400;
}

.educational-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.sub-container {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    gap: 10px;
}

.educ_logo {
    width: 75px;
}

.educ_logo img {
    width: 100%;
}

.educational-details {
    line-height: 1.6;
}

.educational-details h4 {
    font-size: 14px;
    font-weight: 700;
    color: #5d6063;
}

.educational-details h5,
.educational-details h6 {
    font-size: 12px;
    font-weight: 600;
    color: #5d6063;
}

.education {
    margin-top: 15px;
}

.proj_header {
    margin-top: 15px;
}

.project {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.proj_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #5d6063;
}

.project_details p {
    font-size: 15px;
    color: #5d6063;
}

.project_details h3 {
    margin-top: 15px;
    font-size: 17px;
    color: #191919;
    font-weight: 900;
}

.project_details h6 {
    font-size: 15px;
    color: #5d6063;
    font-weight: 500;
}

.project_details .badges label {
    font-size: 13px;
    font-weight: 500;

}

.badges {
    margin-top: 20px;
}

.project_details .badges label span {
    padding: 4px 8px;
    border-radius: .25rem;
    margin-right: 5px;
}

.green {
    background-color: rgba(26, 127, 55, .1);
    color: #1a7f37;
}

.blue {
    background-color: rgba(9, 105, 218, .1);
    color: #0969da;

}

.red {
    background-color: rgba(211, 78, 128, .1);
    color: #d34e80;
}

._icons {
    width: 100%;
    max-width: 350px;
}

._icons i {
    font-size: 40px;
    margin-top: 20px;
    margin-right: 10px;
}


@media screen and (max-width: 850px) {
    ._contact ul li {
        margin-bottom: 5px;
        font-size: 15px;
    }

    .project_details h3 {
        font-size: 15px;
    }

    .project_details h6 {
        font-size: 13px;
    }

    .project_details p {
        font-size: 13px;
    }

    .project_details .badges label {
        font-size: 12px;
        font-weight: 500;
    }

    .intro_details .b {
        margin-top: 20px;
    }
}



@media screen and (max-width: 790px) {
    .intro_tech {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .tech {
        margin-top: 0px;
    }

    ._icons {
        width: 100%;
        max-width: 100%;
    }

    .tech ._card {
        height: 100%;
    }

    .educational-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sub-container {
        margin-top: 10px;
    }

    .project {
        grid-template-columns: 1fr 1fr;
    }

    ._row {
        display: block;
    }

    ._c {
        display: block;
        text-align: center;
    }

    ._contact {
        margin-top: 20px;
    }

    ._row .imgCard {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .imgCard img {
        width: 250px;
    }

    ._contact ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    ._contact ul li {
        margin-right: 20px;
    }

    .intro_details {
        margin-left: 0px;
    }
}


@media screen and (max-width: 600px) {
    .educational-container {
        display: grid;
        grid-template-columns: 1fr;
    }

}




@media screen and (max-width: 720px) {
    .project {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (max-width: 554px) {
    .intro_tech {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
    .tech {
        margin-top: 15px;
    }
    .project {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }


}

@media screen and (max-width: 386px) {
    .educational-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .sub-container {
        margin-top: 10px;
    }

    .project {
        grid-template-columns: 1fr;
    }

    ._row {
        display: block;
    }

    ._c {
        display: block;
        text-align: center;
    }

    ._contact {
        margin-top: 20px;
    }

    ._row .imgCard {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .imgCard img {
        width: 250px;
    }

    ._contact ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    ._contact ul li {
        margin-right: 20px;
    }

    .intro_details {
        margin-left: 0px;
    }
}